<ion-header>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let nota of notas | async">
      <ion-card>
        <ion-row>

          <ion-item class="ion-activated">
            <ion-col size="12" size-md>

              <strong>disciplina: </strong> {{ nota.disciplina_nome }}


              <strong>valor: </strong> {{ nota.valor }}

              <strong *ngIf="nota.observacao">Observações: </strong>
              <ion-label *ngIf="nota.observacao"> {{ nota.observacao }}</ion-label>

            </ion-col>

          </ion-item>

          <ion-item-options side="start">
            <ion-button (click)="editarNota(nota)">
              <ion-icon name="create"></ion-icon>
            </ion-button>
            <ion-button color="danger" (click)="removerNota(nota.key)">
              <ion-icon name="trash"></ion-icon>
            </ion-button>
          </ion-item-options>
        </ion-row>
      </ion-card>
    </ion-item-sliding>
  </ion-list>

  <ion-button (click)="pesquisar()" expand="block" fill="solid" >
    Consultar Nota
  </ion-button>
  <ion-button (click)="novaNota()" expand="block" fill="solid" >
    Cadastrar Nota
  </ion-button>
  <ion-button (click)="retornarMenu()" expand="block" color="medium" fill="solid" >
    Retornar Menu
  </ion-button>
</ion-content>
