<ion-header>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-item-sliding *ngFor="let nota of notas | async">

      <ion-item class="no-padding">

        <ion-label>
          <h2>disciplina:</h2>
          <p>{{ nota.disciplina_nome }}</p>
          <h2>valor:</h2>
          <p>{{ nota.valor }}</p>
        </ion-label>
        <ion-label>
          <h2>Observações:</h2>
          <p>{{ nota.observacao }}</p>
        </ion-label>
      </ion-item>

      <ion-item-options side="start">
        <ion-button (click)="editarNota(nota)">
          <ion-icon name="create"></ion-icon>
        </ion-button>
      </ion-item-options>
      <ion-item-options side="end">

        <ion-button color="danger" (click)="removerNota(nota.key)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>

  <ion-button (click)="pesquisar()" expand="block" fill="solid">
    Consultar Nota
  </ion-button>
  <ion-button (click)="novaNota()" expand="block" fill="solid">
    Cadastrar Nota
  </ion-button>
  <ion-button (click)="retornarMenu()" expand="block" color="medium" fill="solid">
    Retornar Menu
  </ion-button>
</ion-content>