<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Menu
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content [fullscreen]="true"> -->

<ion-content padding>
  <ion-button (click)="navDisciplina()" expand="block" fill="solid" >
    Disciplinas
  </ion-button>

  <ion-button (click)="navNotas()" expand="block" fill="solid" >
    NOTAS
  </ion-button>
  <!-- fab placed to the (vertical) center and start -->
  <!-- <ion-fab vertical="center" horizontal="start" slot="fixed">
    <ion-label>nova disciplina</ion-label>
    <ion-fab-button (click)="novaDisciplina()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->
  <ion-button (click)="deslogar()" color="light"  expand="block" fill="solid" >
    Deslogar
  </ion-button>
</ion-content>