<ion-header>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item-sliding *ngFor="let disciplina of disciplinas | async">


      <ion-item class="no-padding">


        <ion-label>
          <h2>Nome:</h2>
          <p>{{ disciplina.nome }}</p>
          <h2>Ano:</h2>
          <p>{{ disciplina.ano }}</p>
        </ion-label>
        <ion-label>
          <h2>Observações:</h2>
          <p>{{ disciplina.observacao }}</p>
        </ion-label>




      </ion-item>

      <ion-item-options side="start">
        <ion-button (click)="editarDisciplina(disciplina)">
          <ion-icon name="create"></ion-icon>
        </ion-button>

      </ion-item-options>
      <ion-item-options>
        <ion-button color="danger" (click)="removerDisciplina(disciplina.key)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>
  <ion-button (click)="pesquisar()" expand="block" fill="solid">
    Consultar Disciplinas
  </ion-button>
  <ion-button (click)="editarDisciplina()" expand="block" fill="solid">
    Cadastrar Disciplina
  </ion-button>
  <ion-button (click)="retornarMenu()" expand="block" color="medium" fill="solid">
    Retornar Menu
  </ion-button>
</ion-content>